.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MY STYLING */
.shopnow {
  background-color:#f5b22e;
  border: none;  
  padding: 12px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;  
  border-radius: 10px;
}

.shopnow:hover {
  background-color:#f5a810;
  padding: 20px 38px; 
}


input{
  background-color:white;
   border-radius: 10px; 
   width: 100%;
   color:black; 
   padding:3%;
   margin-bottom: 3%;
}

::placeholder{
  color: black;
  opacity: 1;
}

.btn {
  background-color:#088178;
  border: none;  
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;  
  border-radius: 10px;
}

.btn:hover {
  background-color:#088178;
  padding: 20px 38px; 
}

.mg-auto{
  margin: auto;
}